
.banner-content{
    padding: 30px 60px;
    height: 600px;

}

.half-width{
    width: 50%;
}
.half-width img{
    width: 100%;
}

@media only screen and (max-width: 600px ) {
    .banner-content{
        flex-direction: column;
        text-align: center;
       
    }
    .half-width {
        width: 100%;
        padding: 0;
    }
    .half-width img{
        margin-top: 20px;
    }
}